@use "../styles/helpers" as *;

.container {
	max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
	padding-top: to-rem(64);

	@media (width < to-em(1030)) {
		padding-top: to-rem(32);
	}

	@media (width < to-em(680)) {
		padding-top: to-rem(32);
	}
}
