@use "../styles/helpers" as *;

.item {
	--columns: 3;
	position: relative;
	flex: 0 0 calc((100% - (var(--columns) - 1) * 4px) / var(--columns));
	aspect-ratio: 1 / 1;

	@media (width < to-em(768)) {
		--columns: 2;
	}

	@media (width < to-em(481)) {
		--columns: 1;
	}
}

.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;

	&:global(.is-loading) {
		background-color: var(--color-layout);
	}
}
