@use "../styles/helpers" as *;

.loaderWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	width: to-rem(24);
	height: to-rem(24);
	border-radius: 50%;
	border-top: to-rem(3) solid var(--color-text-alt);
	border-right: to-rem(3) solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
