@use "../helpers" as *;

:root {
	color-scheme: light;

	--color-text: hsl(0, 0%, 5%);
	--color-text-alt: hsl(0, 0%, 40%);
	--color-bg: hsl(0, 0%, 97%);
	--color-layout: hsl(0, 0%, 94%);
	--color-border: hsl(0, 0%, 91%);

	--font-family: "Satoshi", sans-serif;

	--border: #{to-rem(1)} solid var(--color-border);
	--border-radius: #{to-rem(10)};

	--container-width: #{to-rem(1200)};
	--container-padding-x: #{to-rem(20)};

	--transition-duration: 0.2s;
}
